.logo {
  font: 350 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
}

.logo span {
  display: block;
  padding: 1em;
  color: #ffadad;
}

.menu {
    background: #292525;
    display: table-cell;
    min-width: 300px;
    height: 100vh;
}

.menu ul li {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.05em;
}

.menu ul li a {
  color: #fff;
}